<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1> -->
      <h1 class="project-name">Sorts and Custom Sorts in Excel</h1>
      <h2>Mia Simpson</h2>
      <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <!--{{ content }} -->
      <h1>Using Sorts and Custom Sorts in Excel</h1>
      <p>The sorting tool provided in MS Excel allows you to rearrange data of various types into any given order. When given columns with text data this tool sorts them in ascending or descending alphabetical order. Similarly, when given numerical data, it sorts the column from smallest to largest or Largest to smallest. Furthermore, custom sorts allow you to perform more advanced sorting by providing more sorting criteria. Some functions of custom sorts are performing the sort based on a custom list or by format, such as cell color. 
      <br><br>The sorting tool in Excel is integral to using the application to its fullest potential. The tool provides ways to efficiently arrange data and helps in scenarios where you need to quickly analyze data, identify trends, or present your data in a more structured manner. For example, you may want to order a list of dates in order from oldest to newest or a list of names in alphabetical order. By using the sorting tool, you can quickly organize your data to be better visualized and understood.
      
      <br><br>Download the Excel file for the datasets used in this tutorial: <br>  
      <a href="datasets/DataSets.xlsx">Tutorial Datasets</a></p>
      <h1>Sorts</h1>
      <h2 style="color: black">Step 1 - Choose Column</h2>
      <p>Click on a cell in the column that you want to sort. Here, I am using the apple quality sheet and want to sort using the Size column.</p>
      <p><img src="images/Sort1-ChooseColumn.png" alt="Choose Column"></p>

      <h2 style="color: black">Step 2 - Home -> Sort & Filter</h2>
      <p>Go to the Home tab in Excel’s ribbon at the top of the screen. Click the Sort & Filter button on the right side of the ribbon.</p>
      <img src="images/Sort2-Home-Sort.png" alt="Home -> SortAndFilter">

      <h2 style="color: black">Step 3 - Choose Sort</h2>
      <p>Now you are given a few sort options depending on the type of data in the chosen column. Here, these options are sorting numbers from “Smallest to Largest” or “Largest to Smallest.” These options sort numerical values in ascending and descending order. If the selected column has numerical data, the options to be sorted would be sorting “A to Z” or “Z to A” These options sort the data alphabetically in either ascending or descending order. If the selected column contains dates and times, the options to be sorted would be sorting “Oldest to Newest” or “Newest to Oldest.” These options sort date and time values in ascending and descending order. I chose to sort my apple sizes from largest to smallest.</p>
      <img src="images/Sort3-ChooseSort.png" alt="Choose Sort">
      <p>This is the sheet sorted on the Size column from largest to smallest.</p>
      <img src="images/Sort4-CompletedSort.png" alt="Completed Sort">

      
      <br>
      <h1>Custom Sorts</h1>

      <h2 style="color: black">Step 1 - Home -> Sort & Filter -> Custom Sort</h2>
      <p>Click anywhere inside your Excel sheet’s data. Then go to the Home tab in Excel’s ribbon at the top of the screen. Click the Sort & Filter button on the right side of the ribbon and then choose Custom Sort from the drop down menu. I am using the Grocery Store sheet for this custom sort.</p>
      <p><img src="images/CustomSort1-Home-Sort.png" alt="Home-Sort"></p>
      
      <h2 style="color: black">Step 2 - Column -> ‘Column Name'</h2>
      <p>On the Sort window that popped up, you can add multiple levels of sorts. Click on the drop down menu under Column, directly right of ‘Sort by’ and then pick the column you want to use to sort by. I selected the Sub Category column to sort.</p>
      <p><img src="images/CustomSort2-Column.png" alt="Column"></p>
      
      <h2 style="color: black">Step 3 - Sort On -> Cell Values</h2>
      <p>In the drop down menu under Sort On, select what you want to use in the sorting. Here we are sorting by cell values, but you can also sort on Cell Color, Font Color, and Conditional Formatting Icon. I selected the option to sort on the Cell Values.</p>
      <p><img src="images/CustomSort3-SortOn.png" alt="SortOn"></p>
      
      <h2 style="color: black">Step 4 - Order</h2>
      <p>In the drop down menu under Order, select what order to sort the data into. For text data, the drop down options are “A to Z”, “Z to A,” and “Custom List…” For Numerical data, the drop down options are “Smallest to Largest”, “Largest to Smallest,” and “Custom List…” I selected the option to sort from A to Z so the subcategories will be sorted in ascending alphabetical order.</p>
      <p><img src="images/CustomSort4-Order.png" alt="Order"></p>
      <p><b>Step 4.a - Order -> Custom List... </b>When sorting by Custom List, click on the Custom List… option.</p>
      <p><img src="images/SelectCustom.png" alt="Select Custom"></p>
      <p><b>Step 4.b - NEW LIST -> Add -> OK </b>Here, you can choose from a variety of predefined lists, or create your own custom list. To create a new custom list, click on NEW LIST and then type out the list in the empty white box titled “List entries:” I selected the option to sort from A to Z so the subcategories will be sorted in ascending alphabetical order. To complete the list, click Add. Finally, choose which list you want to use, and then click OK to add it to the dropdown menu for Order.</p>
      <p><img src="images/NewList.png" alt="New List"></p>
      <p><b>Step 4.c - Select Order </b>Now you can use it to sort by selecting it in the Order dropdown menu.</p>
      <p><img src="images/SelectCustomList.png" alt="Select Custom List"></p>
      
      <h2 style="color: black">Step 5 - Add Level</h2>
      <p>Select Add Level at the top left corner of the window to create a new row of sorts. This will add another level of organization in the custom sort. Follow steps 2-4 again to complete the new sort. </p>
      <p>Note: You can add as many levels as needed to the custom sort, but the sequence of rows matters and you can move them as needed to perform the sorts in the correct order.</p>
      <p><img src="images/CustomSort5-AddLevel.png" alt="AddLevel"></p>
      
      <h2 style="color: black">Step 6 - Complete Custom Sort</h2>
      <p>Repeat Step 5 until you have all levels of sorting completed and then select OK for Excel to execute the sort on the sheet. </p>
      <p><img src="images/CustomSort6-Complete.png" alt="Complete"></p>
      <p>This is the sheet sorted according to the custom sort we created above. Here, we can see that the Sub Category column was sorted alphabetically first, and then the prices column was sorted in ascending order.</p>
      <img src="images/CustomSort7-CompletedSort.png" alt="Completed Sort">

      <h1>Datasets</h1>
      <p>I used the Apple Quality Dataset and Grocery Store Dataset from Kaggle.com for this tutorial. To download these datasets, click on the link to the dataset and then select the download button <img src="images/download.png" alt="Download"> at the top right corner of the screen. The datasets will save as csv files to your downloads folder and you can open them in Excel from there. 
      <br><a href="https://www.kaggle.com/datasets/nelgiriyewithana/apple-quality?resource=download">Apple Quality Dataset</a>
      <br><a href="https://www.kaggle.com/datasets/bhavikjikadara/grocery-store-dataset">Grocery Store Dataset</a>
      </p>
      

      
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
